.cardSection {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f5f5f5;
  }
  
  .cardSection h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }
  